body{
	padding: 0;
	margin: 0;
}
.wrapper {
  width: 100%; 
  display: flex;	
}

 

#sidebar {
  width: 20%;
  background: var(--secondary-color);
  color:palevioletred;
}
#sidebar.active {
    width: 80px;
    text-align: center; 
}

 

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color:palevioletred;
  border-bottom: 1px solid black; 
}

 

#sidebar.active ul.components li {
    font-size: 14px; 
}

 

#sidebar.active ul.components li a {
    padding: 10px 0; 
}

 

#sidebar.active ul.components li a i {
  display: block;
  font-size: 24px; 
}

 

.wrapper #content{
	width: 100%;
	margin-left: 200px;
}
.wrapper #content h2{
	text-align: center;
	margin-top: 80px;
	font-family:"Lobster",serif;
	
	
}
.wrapper #content p{
	margin-top: 30px;
	line-height: 30px;
	font-size: 25px;
	margin-right: 30px;
	text-align: justify;
}
