body{
	margin: 0;
	padding: 0;
}
.cart1 img{
	margin-left: 90px;
}
.cart2 img{
	margin-left: 90px;
	margin-top: 60px;
}
.cart1 button{
	width: 100px;
	height: 40px;
	border: 2px solid gray;
	background-color: palevioletred;
	border-radius: 40px;
	cursor: pointer;
}
.cart2 button{
	width: 100px;
	height: 40px;
	border: 2px solid gray;
	background-color: palevioletred;
	border-radius: 40px;
	cursor: pointer;
}
.cart1 h5{
	color: gray;
	margin-left: 320px;
	margin-top: -90px;
}
.cart1 input{
	margin-left: 350px;
	width: 40px;
	height: 20px;
}
.cart2 h5{
	color: gray;
	margin-left: 320px;
	margin-top: -90px;
}
.cart2 input{
	margin-left: 350px;
	width: 40px;
	height: 20px;
}