body{
	padding: 0;
	margin: 0;
	
}
/*navbar*/
.navbar{
	background-color:#d049afcf;
	height: 100px;
	 overflow: hidden;
}
.navbar img{
	
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 30px;
}
.navbar-nav{
	margin-left: 70px;
	
}
.nav-item{
	padding: 25px;
}
.form-inline{
	margin-right: 100px;
	
	
}
.form-control{
	 
	border-radius: 50px;
}
.btn{
	 
	color: white;
	border-color:white;
	border-radius: 50px;
}
.btn:hover{
	background-color: white;
	color:#aa198d; 
}
.collapse i{
	padding: 8px;
} 
.collapse a{
	color: white;
	 
}
.collapse a:hover{
	color:black;
}


.nav-item0 a{
	height: 50px;
	margin-top: 25px;
	border: 1px solid gray;
	border-color: white;
	border-radius: 70px;
}
.nav-item0 a:hover{
	background-color: white;
	color:#aa198d; 
}
.nav-item1 i{
	margin-top: 25px;
	margin-left: 20px;
	border: 1px solid gray;
	border-color: white;
	border-radius: 50px;
}
.nav-item1 i:hover{
	background-color: white;
	color:#aa198d; 
}


/*section slidER*/
.slider-area {
	
	width: 100%;
}


.slider-area .sub1{
	width: 1920px;
	height: 652px;
	background-image: url(../images/cos-slider-1_2000x.jpg);
	
	
}
.slider-area .sub2{
	width: 1920px;
	height: 652px;
	background-image: url(../images/cos-slider-3_2000x.jpg);
	
}
.slider-area .sub3{
	width: 1920px;
	height: 652px;
	background-image: url(../images/slicker4.jpg);

}

.slider-area .link1{
	
	margin-left: 790px;
	margin-top: 200px;
	line-height: 60px;line-height: 60px;
	color: hotpink; 
	font-family:"Lobster",serif;
}
.slider-area .link2{
	line-height: 60px;
	margin-left: 720px;
	margin-top: 200px;
	color: hotpink; 
	font-family:"Lobster",serif;
}
.slider-area .link3{
	line-height: 60px;
	margin-left: 720px;
	margin-top: 200px;
	color: hotpink; 
	font-family:"Lobster",serif;
}
.slider-area .link1 span{
	margin-left: 20px;
	
	position: relative;
	animation: span 3s 1;
}

.slider-area .link2 span{
	margin-left: 20px;
}
.slider-area .link3 span{
	margin-left: 45px;
}
.slick-prev:before{
	color:deeppink;
	font-size: 30px;
	
	
	
}
.slick-next:before{
	color:deeppink;
	font-size: 30px;

}


.line hr{
	width: 500px;
	margin-top: 100px;
	border: 2px solid #000;
	height: 5px;
	border-radius: 50px;
	background-color: palevioletred;
}

.end{
	
	margin-top: 140px;
	width: 70%;
	margin-left: 190px;
}
.view{
	width: 200px;
	height: 60px;
	margin-left: 570px;
	border: 2px solid gray;
	border-radius: 50px;
	margin-top: 30px;
	background-color: plum;
	
	
}
.view:hover{
	background-color: #fff;
}
.essence i{
	padding: 10px;
}

/* contacts */

.footer{
	
	height: 350px;
	opacity: 0.4;
}
.four{
	margin-top: 60px;
	background-image:url(../images/super-deal.jpg);
}

#grid-container{
	height: 350px;
	display: grid;
	background-color: #e83e8c66;
	grid-template-columns: auto auto auto auto;
	margin-top: 10px;
}
#grid-container .grid-item1{
	margin-top: 80px;
	    margin-left: 55px;

}
#grid-container .grid-item1 i{
	
	font-size: 40px;
	color: black;
}
#grid-container .grid-item1 b{
	font-family:"Lobster", serif;
	font-size: 30px;
	color: black;
	padding: 10px;
}
#grid-container .grid-item1 h6{
	font-size: 15px;
	color: black;
	margin-left: 40px;
}
#grid-container .grid-item2{
	margin-top: 80px;
	   

}
#grid-container .grid-item2 i{
	
	font-size: 40px;
	color: black;
}
#grid-container .grid-item2 b{
	font-family:"Lobster", serif;
	font-size: 30px;
	color: black;
	padding: 10px;
}
#grid-container .grid-item2 h6{
	font-size: 15px;
	color: black;
	margin-left: 40px;
}
#grid-container .grid-item3{
	margin-top: 80px;
	   

}
#grid-container .grid-item3 i{
	
	font-size: 40px;
	color:  black;
}
#grid-container .grid-item3 b{
	font-family:"Lobster", serif;
	font-size: 30px;
	color:  black;
	padding: 10px;
}
#grid-container .grid-item3 h6{
	font-size: 15px;
	color:  black;
	margin-left: 40px;
}
#grid-container .grid-item4{
	margin-top: 80px;
}
#grid-container .grid-item4 i{
	font-size: 40px;
	color:  black;
}
#grid-container .grid-item4 b{
	font-family:"Lobster", serif;
	font-size: 30px;
	color: black;
	padding: 10px;
}

.fav{
	color: red;
}
